<div class="osn">
  <div class="top">
    <div class="form">
      <label for="input-sum">Введите требуемую сумму:</label>
      <div class="input_area"><input id="input-sum" type="number" [(ngModel)]="sum"/><span>Руб.</span></div>
    </div>
    <div class="upload" (click)="upload(true)">Обновить</div>
  </div>
  <section *ngIf="infoObj" class="content">
    <div class="card" *ngFor="let k of objectKeys(infoObj['Valute'])">
      <div class="name">{{infoObj['Valute'][k]['Name']}}</div>
      <div class="nominal">Номинал: <span>{{infoObj['Valute'][k]['Nominal']}}</span></div>
      <div class="value">Стоимость: <span>{{infoObj['Valute'][k]['Value'].toFixed(2)}}</span></div>
      <div *ngIf="sum>0" class="sum">Купить: <span title="{{sum | total:infoObj['Valute'][k]['Nominal']:infoObj['Valute'][k]['Value']}}">{{sum | total:infoObj['Valute'][k]['Nominal']:infoObj['Valute'][k]['Value']}}</span></div>
    </div>
  </section>
</div>
